
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="example" class="demo-section k-content">
    <input name="files" id="files" type="file" />
    <button id="upload" class="btn btn-success btn-sm" >Upload</button>
</div>


@section scripts {
    <link href="https://kendo.cdn.telerik.com/2020.3.1021/styles/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.3.1021/styles/kendo.bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1021/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1021/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1021/js/kendo.timezones.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1021/js/kendo.aspnetmvc.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Script/Admin.js"></script>

}

